* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    border: 5px solid #4a4a4a;
    background-color: #f0f0f5;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: space-between; /* Asegura que aside esté a la derecha */
    align-items: flex-start; /* Asegura que aside esté alineado con el inicio de los artículos */
    
}

article {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    color: #333;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    order: 1; /* Asegura que los artículos estén antes del aside */
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

aside {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    color: #333;
    flex: none; /* Evita que el aside cambie de tamaño basado en el espacio disponible */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    order: 2; /* Mueve el aside al final del flujo */
    height: 500px; /* Incrementa la altura del aside */
}

<!-- aqui se define el estilo del menu


nav {
    max-width: 1000px;
    margin: 0 auto;

}

nav ul {
    text-align: center;
    vertical-align: top;

}
nav ul li {
    display: inline;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

 nav ul li a {
    color: #000;
 }

